## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Salalah,OM,80.69,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
1,13,Acapulco,MX,84.06,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,15,Mucurapo,TT,88.25,overcast clouds,10.6667,-61.5333,Courtyard by Marriott Port of Spain
3,19,Vao,NC,76.50,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
4,24,Catuday,PH,80.65,overcast clouds,16.2923,119.8062,Benjie's Kubo & Cottages

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(15.0, 15.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Tomatlan") & (vacation_df["Country"] == "MX")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tomatlan") & (vacation_df["Country"] == "MX")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Coahuayana") & (vacation_df["Country"] == "MX")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Lazaro Cardenas") & (vacation_df["Country"] == "MX")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Acapulco") & (vacation_df["Country"] == "MX")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
116,390,Tomatlan,MX,83.8,broken clouds,19.9333,-105.25,El Salvial

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,390,Tomatlan,MX,83.80,broken clouds,19.9333,-105.2500,El Salvial
1,616,Coahuayana,MX,85.48,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,178,Lazaro Cardenas,MX,82.72,few clouds,17.9583,-102.2000,quinta antigua
3,13,Acapulco,MX,84.06,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(20.0, -100.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))